<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div class="container">
    <div class="page-header">
        <h3>유튜브 비트레이트 보기</h3>
    </div>
    <form action="/view" method="GET">
        <div class="form-group">
            <label for="nickanme">유튜브 링크</label>
            <input type="text" class="form-control" name="url" placeholder="유튜브 링크 입력" />
        </div>
    </form>
</div>